.card {
    box-shadow: 0 0 5px var(--color--shadow-light);
    background: var(--color--light);
    padding: var(--gap--5);
    position: relative;

    &--shadow {
        box-shadow: none;

        &:before, &:after {
            background: var(--color--shadow-light);
            box-shadow: 0 15px 10px var(--color--shadow-light);
            bottom: 15px;
            content: '';
            max-width: 300px;
            position: absolute;
            top: 80%;
            width: 50%;
            z-index: -1;
        }
        &:before {
            left: 10px;
            transform: rotate(-3deg);
        }
        &:after {
            right: 10px;
            transform: rotate(3deg);
        }
    }

    @media screen and (min-width: $mq_tablet_portrait) {
        padding: var(--gap--6) var(--gap--10);
    }

    [class|="col"] & {
        height: 100%;
    }
}
