// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$colors: (
    'primary': #DC3545,
    'primary-subtle': rgba(220, 53, 69, 0.5),
    'secondary': #141516,
);

