$font--regular: 'Lato';
$font--special: 'Merriweather';

$fontSizes: (
    xsmall:     10px,
    small:      14px,
    regular:    16px,
    medium:     18px,
    xlarge:     22px,

    h0:         52px,
    h1:         35px,
    h2:         18px,
    h3:         16px,
    h4:         14px,
);
