$mq_mobile_portrait: 0;
$mq_mobile_landscape: 468px;

$mq_tablet_portrait: 768px;
$mq_tablet_landscape: 1024px;

$mq_desktop_sd: 1366px;
$mq_desktop: 1440px;

$mq_desktop_hd: 1600px;
$mq_desktop_up: 1920px;
