button {
    outline: none !important;
}

.button {
    background: var(--color--action);
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2em;
    color: var(--color--light);
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    outline: none !important;
    padding: var(--gap--2) var(--gap--11) calc(var(--gap--2) + 1px);
    transition: color var(--transition-duration), background-color var(--transition-duration), border-color var(--transition-duration);
    text-decoration: none;
    vertical-align: middle;

    &__label {
        line-height: 1.4;
        &:empty {
            display: none;
        }

        &:not(:empty) + .button__icon {
            margin-bottom: calc(var(--gap--2) * -1);
            margin-left: var(--gap--2);
            margin-right: calc((1em + var(--gap--4)) * -1);
            margin-top: calc(var(--gap--2) * -1);
        }
    }

    &__icon {
        display: flex;

        .icon {
            font-size: 100%;
        }

        &:empty {
            display: none;
        }
    }

    &:hover {
        background: var(--color--action-dark);
        border-color: var(--color--action-dark);
        color: var(--color--light);
    }

    &:visited {
        color: var(--color--light);
    }

    &:disabled {
        background: var(--color--action-disabled);
        border-color: var(--color--action-disabled);
        pointer-events: none;
    }

    &--ghost {
        background: transparent;
        border-color: var(--color--action);
        color: var(--color--action);

        &:disabled {
            background: transparent;
            color: var(--color--action-disabled);
        }
    }

    &--icon {
        border-radius: 100%;
        padding: 0.375em;
    }

    &--small {
        font-size: var(--fs--small);
        padding: var(--gap--1) var(--gap--5) calc(var(--gap--1) + 1px);

        .button__label {
            &:not(:empty) + .button__icon {
                margin-bottom: calc(var(--gap--1) * -1);
                margin-left: var(--gap--1);
                margin-right: calc((.5em + var(--gap--1)) * -1);
                margin-top: calc(var(--gap--1) * -1);
            }
        }

        &.button--icon {
            padding: 0.18em;
        }
    }

    &--wide {
        display: flex;
        text-align: center;
    }

    &--login {
        border-radius: 3px;
        padding-left: calc(var(--gap--11) + 1em);
        position: relative;

        .button__icon {
            align-items: center;
            border-right: 1px solid var(--color--action-dark);
            display: flex;
            justify-content: center;
            left: 0;
            position: absolute;
            padding: var(--gap--2);

            svg {
                width: 1em;
            }
        }

        &:hover {
            .button__icon {
                border-right-color: var(--color--action);
            }
        }
    }

}
