.button-main {
    padding: 7.5px;
    border-radius: 5px;
    background-color: var(--color--primary);
    text-decoration: none;
    color:white;
    transition: 0.25s;
    border: none;
    
    &:hover {
        color:white;
        text-decoration: none;
        padding: 10px;
        letter-spacing: 1px;
    }
}

.button-nav {
    padding: 5px;
    border-radius: 3px;
    background-color: var(--color--primary-subtle);
    text-decoration: none;
    color:white;
    transition: 0.25s;
    border: none;
    
    &:hover {
        color:var(--color--secondary);;
        text-decoration: none;
        padding: 7.5px;
        letter-spacing: 1px;
    }
}